<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694781280993-motoonrlcbhd4br8ambih105khun11hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694781280993-motoonrlcbhd4br8ambih105khun11hq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>694781280993-k9q677dsp6eau7bo71h5ltu8pjsu5c69.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCM4orN2KzHrSwYZurYWck7aFsYnu9I4E</string>
	<key>GCM_SENDER_ID</key>
	<string>694781280993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.taptapcard</string>
	<key>PROJECT_ID</key>
	<string>tabtabcard</string>
	<key>STORAGE_BUCKET</key>
	<string>tabtabcard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694781280993:ios:0b9db77751cc52058b6da0</string>
</dict>
</plist>